.info-page__container {
    max-width: 1000px;
    margin: 0 auto;
}

.info-page__wrapper {
    padding: 60px 0;
}

.info-page__wrapper_text-center {
    text-align: center;
}

.info-page__heading {
    padding-bottom: 40px;
}

.info-page__heading h2 {
    font-weight: 500;
    letter-spacing: 2px;
}

.info-page__title {
    padding: 30px 0;
}

.info-page__title h2 {
    padding: 10px 0;
    font-weight: 400;
    font-size: 24px;
}

.info-page__email {
    color: #000;
    text-decoration: underline;
}

.info-page__email:hover {
    opacity: 0.6;
}
