{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/home/banner.css" %}">
{% endblock  %}

{% block banner %}
    <section class="banner">
        <div class="banner__container">
            <div class="banner__wrapper">
                <div class="banner__image">
                    <img src="{% static "deps/images/main-page-banner.jpg"%}" alt="">
                </div>
            <div class="banner__content">
                <div class="banner__title">
                    <h2>
                        {{ banner_title }}      
                    </h2>
                </div>
                <div class="banner__subtitle">
                    <h5>
                        {{ banner_subtitle }}
                    </h5>
                </div>
                <div class="banner__button-wrap">
                    <button>
                        {{ banner_button }}
                    </button>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock  %}

 
