body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;   
}

.wrapper {
    padding: 60px 0;
}

.strip::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(180, 182, 183);
    display: block;
}